.timetable {
  justify-content: space-around;
}
.timetable .cld-menu {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex: 1;
}
.timetable .cld-menu > div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001c25;
  border: 2px solid #000e12;
}
.timetable .cld-menu > div:first-child {
  border-top-left-radius: 20px;
}
.timetable .cld-menu > div:last-child {
  border-top-right-radius: 20px;
}
.timetable .cld-menu > div.select {
  background-color: #013f53;
}
.timetable .cld-menu > div p {
  color: var(--max-light);
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}
.timetable .main {
  height: 94%;
  width: 100%;
}
.timetable .main .select {
  display: block;
}
.timetable .main > div {
  display: none;
}
.timetable .main .list {
  width: 100%;
  height: 100%;
}
.timetable .main .list .legend {
  width: 100%;
  height: 20px;
  display: flex;
}
.timetable .main .list .legend > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--timetable-legtend-bg);
  border: 2px solid var(--timetable-legtend-border);
}
.timetable .main .list .legend > div:nth-child(1) {
  width: 20%;
}
.timetable .main .list .legend > div:nth-child(2) {
  width: 20%;
}
.timetable .main .list .legend > div:nth-child(3) {
  width: 25%;
}
.timetable .main .list .legend > div:nth-child(4) {
  width: 35%;
}
.timetable .main .list .legend > div p {
  color: var(--max-light);
  font-size: 10px;
  margin: 0;
  font-weight: bold;
}
.timetable .main .list .elemList {
  width: 100%;
}
.timetable .main .list .elemList > div {
  width: 100%;
  height: 30px;
  display: flex;
}
.timetable .main .list .elemList > div > div {
  background-color: var(--timetable-list-table-bg);
  border: 2px solid var(--timetable-list-table-border);
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable .main .list .elemList > div > div:nth-child(1) {
  width: 20%;
}
.timetable .main .list .elemList > div > div:nth-child(2) {
  width: 20%;
}
.timetable .main .list .elemList > div > div:nth-child(3) {
  width: 25%;
}
.timetable .main .list .elemList > div > div:nth-child(4) {
  width: 35%;
}
.timetable .main .list .elemList > div > div p {
  font-size: 8px;
  color: var(--max-light);
  margin: 0;
  font-weight: bold;
}
.timetable .main .list-elem-tooltip {
  background-color: red !important;
  position: absolute;
  width: 15px;
  height: 15px !important;
  border: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transform: translate(20px, 100%);
  -webkit-transform: translate(20px, 100%);
  -moz-transform: translate(20px, 100%);
  -ms-transform: translate(20px, 100%);
  -o-transform: translate(20px, 100%);
}
.timetable .main .list-elem-tooltip i {
  color: white;
  font-size: 10px;
}/*# sourceMappingURL=timetable.css.map */