@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#bg-oppacity{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100000;
    background-color: rgb(30, 30, 30, .8);
}

popup#update-info{
    display: none;
    width: 40%;
    height: 65%;
    background-color: rgb(230, 230, 230, .8);
    position: absolute;
    top: 300px;
    z-index: 1000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .8);
    -webkit-box-shadow: 0px 0px 20px rgb(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 20px rgb(0, 0, 0, .8);
    -ms-box-shadow: 0px 0px 20px rgb(0, 0, 0, .8);
    -o-box-shadow: 0px 0px 20px rgb(0, 0, 0, .8);
    transform-origin: center;
}

popup#update-info h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Rowdies', cursive;
    color: rgb(30, 30, 30);
    margin-top: 80px;
    letter-spacing: 2px;
}

popup#update-info h3{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

popup > ul#data-update{
    list-style-type: square;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    margin-top: 40px;
}

popup > ul#data-update li{
    font-size: 20px;
    color: rgb(30, 30, 30);
    margin-top: 20px;
    letter-spacing: 2px;
}

popup > ul#data-update li span{
    font-size: 20px;
    color: rgb(30, 30, 30);
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

popup > a > button#update-info-update{
    border: 3px solid rgb(9, 132, 68);
    background-color: rgb(23, 208, 113);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 35%;
    height: 12%;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0, .5);

    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 25px;
    text-decoration: none;
}

popup > a{
    text-decoration: none;
}

popup > a > button#update-info-update:active{
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}

popup > button#close-update{
    background: none;
    border: none;
    float: right;
    margin: 10px 15px 0 0;
    font-size: 35px;
}
popup > button#close-update:active{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

popup#update-info.show{
    display: block;
    animation: fadeIn .5s ease-in-out forwards 1;
    -webkit-animation: fadeIn .5s ease-in-out forwards 1;
}

popup#update-info.hide{
    display: block;
    animation: fade-out .5s ease-in-out forwards 1;
    -webkit-animation: fade-out .5s ease-in-out forwards 1;
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
    100%{
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

@keyframes fade-out{
    0%{
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    100%{
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        display: none;
}
}

popup#update-bar{
    background-color: rgba(176, 0, 61, 0.8);
    width: 30%;
    height: 15%;
    position: absolute;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    bottom: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

popup#update-bar button#close-popup-bar{
    background: none;
    border: none;
    float: right;
    font-size: 20px;
    width: 5%;
    height: 20%;
    margin-left: -94%;
    padding-top: 3px;
}

popup#update-bar button#close-popup-bar:active{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

popup#update-bar button#show-update-detail{
    background: rgb(67, 176, 0);
    font-size: 20px;
    padding: 2% 4%;
    margin-bottom: 8px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    font-family: 'Rowdies', cursive;
    color: rgb(235, 235, 235);
    letter-spacing: 2px;
    border: 2px solid black;
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0, .5);
}

popup#update-bar button#show-update-detail:active{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}