@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
.timetable .main .list-elem-tooltip:hover {
    transform: scale(0.9) translate(0, 100%);
    -webkit-transform: scale(0.9) translate(0, 100%);
    -moz-transform: scale(0.9) translate(0, 100%);
    -ms-transform: scale(0.9) translate(0, 100%);
    -o-transform: scale(0.9) translate(0, 100%);
    background-color: rgb(135, 0, 0) !important;
}

.setting-window {
    position: absolute;
    z-index: 15100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-width: 400px;
    height: 70%;
    max-height: 700px;
    background: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.setting-window input {
    font-weight: bold;
}

.setting-window .close-window {
    color: var(--max-light);
    font-size: 25px;
    position: relative;
    float: right;
    width: 25px;
    height: 20px;
}

.setting-window .setting-window-top-menu {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid var(--max-dark);
    margin: 0;
}

.setting-window .setting-window-top-menu li {
    color: var(--max-light);
    font-size: 12px;
    font-weight: bold;
    position: relative;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
}

.setting-window .setting-window-top-menu li.select {
    color: rgb(31, 176, 224);
    font-size: 15px;
}

.setting-window .setting-window-top-menu li::before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 0;
    height: 2px;
    width: 100%;
    z-index: -1;
    transition: .2s;
    border-radius: 25px
}

.setting-window .setting-window-top-menu li:hover {
    color: var(--max-dark)
}

.setting-window .setting-window-top-menu li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0 3px 20px 0 var(--max-dark);
    transform: scale(1.2)
}

.setting-window .content {
    width: 100%;
    height: calc(100% - 30px);
}

.setting-window .content>div {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.setting-window .content>div>div {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.setting-window .content>div>div {
    flex: 2;
}

.setting-window .content>div>div.free {
    flex: 0.5;
}

.setting-window .content>div>div.page-theme {
    flex: 1;
}

.setting-window .content>div>div h2 {
    font-size: 20px;
    color: var(--max-light);
}

.setting-window .content>div>div input::placeholder {
    font-size: 15px;
    font-weight: bold;
}

.setting-window .content>div>div input {
    width: 60%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    padding-left: 4px;
}

.setting-window .content>div>div input::placeholder {
    font-size: 70%;
    line-height: 1;
}

.setting-window .content>div>div .submit-button {
    height: 30px;
    font-weight: bold;
}

.setting-window .content>div>div .button-sbm.animate-spin, .setting-window .content>div>div .button-sbm.animate-withoutSpin {
    width: 40px;
    height: 40px;
}

.setting-window .content .access-sett .exp-date>* {
    width: 20%;
    height: 30px;
    flex: 1 0 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.setting-window .content .access-sett .exp-date>p {
    color: var(--max-light);
    font-weight: bold;
    font-size: 15px;
    flex: 1 0 30%;
    height: 3px;
    text-align: center;
}

.setting-window .content .access-sett div>p:first-child {
    color: var(--max-light);
    font-weight: bold;
    font-size: 90%;
    height: 10px;
    text-align: center;
}

.setting-window .content .access-sett .exp-date>p:first-child {
    flex: 1 0 100%;
}

.setting-window .content .access-sett .exp-date .timePicker input {
    height: 30px;
    margin: 0;
    border: 0;
    background-color: var(--input-bg);
}

.setting-window .content .access-sett .exp-date>input {
    border: 0;
    background-color: var(--input-bg);
}

.setting-window .content .access-sett .exp-date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.setting-window .content .access-sett .exp-date>:last-child {
    flex: 0 1 40%;
}

.setting-window .content .access-sett .mobile-token {
    display: flex;
    align-items: center;
}

.setting-window .content .access-sett input {
    text-align: center;
}

.setting-window .content .access-sett .mobile-token #mobileToken {
    width: 100%;
    height: 30px;
    background-color: var(--input-bg);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 0 5px 0 5px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.setting-window .content .access-sett .mobile-token div:last-child>input {
    flex: 0 1 40%;
}

.setting-window .content .access-sett .mobile-token #mobileToken p {
    margin: 0;
    padding: 0;
    font-size: 53%;
    color: var(--max-dark);
    font-weight: 500;
    flex: 0 1 90%;
    line-height: 1.2;
    outline: none;
}

.setting-window .content .access-sett .mobile-token #mobileToken i:hover {
    color: rgb(121, 121, 121);
}

.setting-window .content .access-sett .mobile-token #mobileToken i:active {
    color: rgb(15, 15, 15);
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.setting-window .content .access-sett .mobile-token #mobileToken i {
    font-size: 15px;
    flex: 0 1 5%;
    margin-left: 5px;
    color: rgb(71, 71, 71);
}

.setting-window .content .access-sett .mobile-token .day-number {
    display: flex;
    width: 100%;
    align-items: center;
}

.setting-window .content .access-sett .mobile-token .day-number>p, .setting-window .content .access-sett .mobile-token .day-number>input {
    flex: 1 0 50%;
}

.setting-window .content .access-sett .mobile-token .day-number>input {
    border: 0;
    background-color: var(--input-bg);
}

.setting-window .content .access-sett .mobile-token .day-number p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    height: 20px;
    line-height: 1;
}

.messageAlert {
    max-width: 100%;
    /* width: 400px;*/
    max-height: 50px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 15500;
}

.messageAlert p {
    color: var(--messageAlert-color);
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    margin: 20px 20px;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    font-size: 10px;
}

@media only screen and (min-width: 720px) {
    .messageAlert p {
        font-size: 15px;
    }
}

.messageAlert.success {
    background-color: var(--messageAlert-success-bg);
}
.messageAlert.failed {
    background-color: var(--messageAlert-failed-bg);
}
.messageAlert.info {
    background-color: var(--messageAlert-info-bg);
}