@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap");

.delay {
    max-width: 650px;
    .pins-container {
        // background-color: red;
        width: 80%;
        max-width: 400px;
        height: 30%;
        // max-height: 130px;
        margin: 0 auto;
        margin-top: 20px;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            width: 10%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px 2px;
            > div.pin-name {
                > p {
                    font-size: 12px;
                    font-weight: bold;
                    font-family: "Signika Negative", sans-serif;
                    color: var(--max-light);
                    margin: 0;
                    text-align: center;
                    height: 15px;
                }
            }
            div.selector {
                width: 15px;
                height: 15px;
                margin-bottom: 10px;
            }
        }
    }
    div.array-down {
        margin: 20px auto 0 auto;
        width: 20px;
        i {
            color: var(--max-light);
            font-size: 20px;
        }
    }
    .switchPower {
        width: 40%;
        max-width: 150px;
        height: 50px;
        margin: 30px auto 0 auto;
    }

    .timePicker {
        width: 80%;
        max-width: 300px;
        height: 50px;
        margin-top: 50px;
    }
    .submit-button {
        width: 40%;
        max-width: 150px;
        height: 10%;
        max-height: 50px;
        margin: 15px 0 ;
        button {
            margin: 0 auto;
        }
    }
}
