@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

.power-now {
    justify-content: flex-start !important;
    max-width: 800px;
    > div {
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 5px;

        .text-info {
            font-weight: bold;
            font-family: "Balsamiq Sans", cursive;
            letter-spacing: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5vw;
            width: auto;
            height: auto;
            margin-left: 10px;
            .info-pin {
                margin-left: 10px;
            }
            p {
                padding: 0;
                margin: 0;
            }
            .info-power.power-on {
                margin: 0 1.25vw;
            }
        }

        .switch-ct {
            width: 35%;
            max-width: 100px;
            height: 80%;
        }
    }
}
