
[data-mode="dark"]{
  // Main
  --max-light: white;
  --max-dark: black;
  --transparent-bg: rgba(0, 0, 0, 0.6);
  --bg-page: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  // Top Bar button
  --bnt-default-bg-color-tB: #d3d3d3;
  --bnt-hover-bg-color-tB: #2b2bff;
  --bnt-default-color: #2c2c2c;
  --bnt-hover-color: white;

  // Switch
  --bg-switch: #f0f0f0;

  //Checkbox
  --bg-chechbox: #fff;
  --border-checkbox: #d1d6ee;
  --border-hover-checkbox: #bbc1e1;
  --border-active-checkbox: #838383;
  --tick-checkbox: #000000;

  //Tooltip
  --tooltip-edit-bg: #838383;

  //Temperature window
  --temperature-window-bg: rgb(59, 59, 59);

  //Timetable
  --timetable-legtend-bg: rgb(58, 58, 58);
  --timetable-legtend-border: rgb(25, 25, 25);
  --timetable-list-table-bg: rgb(25, 25, 25);
  --timetable-list-table-border: rgb(58, 58, 58);

  //Status
  --status-menu-bg: rgb(25, 25, 25);
  --status-menu-border: rgb(58, 58, 58);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--bg-page);
  line-height: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

input,
button,
textarea {
  outline: none;
}

.top {
  z-index: 10000;
}

small {
  color: #888;
}

.tooltip-edit {
  width: 15px;
  height: 15px;
  background-color: var(--tooltip-edit-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;

  i {
    font-size: 10px;
  }
}

.blure {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.4);
  backdrop-filter: blur(8px);
  z-index: 15000;
}

.hidden{
  display: none !important;
}